.update-nag, #wpfooter {
    display: none;
}

#jumplead_header {
    height: 183px;
    background: url('../assets/header.png') 0 0 repeat-x;
}

#jumplead_logo {
    float: left;
    border: 0;
    margin: 0 10px 0 0;
    padding: 0;
    width: 80px;
    height: 80px;
}

.jumplead h2 {
    margin: 0;
    padding: 10px;
    line-height: 80px;
    color: #fff;
}

/* Splash Page */

.jumplead-splash .header {
    padding: 10px;
}


.jumplead-splash .header a {
    color: #FFF;
    margin: 0 10px;
    text-decoration: none;
    font-size: 120%;
    font-weight: normal;
}
.jumplead-splash .header a:hover {
    color: #FFF;
}

.jumplead-splash .header #jumplead_logo {
    margin: 0;
}

.jumplead-splash .header .links {
    float: right;
    line-height: 80px;
}

.jumplead-splash .header h2 {
    text-align: center;
    vertical-align: baseline;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.65);
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    font-size: 2.5em;
    line-height: 1.2em;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}
